h1#Title {background-image: url('https://cdn.pixabay.com/photo/2017/04/06/20/36/branch-2209289_1280.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          color:pink;
          text-align:center;
          font-family:Tahoma;
          height:150px;
          width:300px;
          text-shadow: 2px 2px 4px;
          display: block; 
          margin: 0 auto;
         }
